.card-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;

  .card-content {
    flex: 1;
    margin-bottom: 2rem;
  }

  .welcome-message {
    color: dodgerblue;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .plan-name {
    font-weight: bolder;
    color: dodgerblue;
  }
  .plan-price {
    font-weight: 600;
    color: dodgerblue;
  }
  .plan-details {
    font-weight: lighter;
    font-size: small;
  }
}
